.green_div{
    background-color: #5CB85C;
    h1{
        color: white;
        text-align: center;
        font-size: 300%;
        padding-top: 30px;
    }
    h3{
        color: white;
        text-align: center;
        font-weight: 300!important;
        font-size: 130%;
        padding: 20px;
    }

}