.navbar_div{
   height: 50px;
   ul{
       display: flex;
       list-style: none;
       h2{
        margin-top: 6px;
        .navlink1{
            font-size: 110%;
            color: #5CB85C;
            text-decoration: none;
            margin-left: 120px;
        }
       }
       .l1{
           margin-left: 800px;
           margin-top: 13px;
       }
       .l2{
           margin-left: 10px;
           margin-top: 13px;
       }
       .l3{
            margin-left: 10px;
            margin-top: 13px;
       }
       .navlink2{
            text-decoration: none;
            color: grey;
            
        }
       
   }

   .navlink2:hover{
    color: black;
}
}

