.mother_div{
    width: 40%;
    margin: 50px auto;
    div{
        margin: 0 auto;
        h1{
            text-align: center;
            font-weight: 300!important;
            font-size: 230%;
        }
        h4{
            text-align: center;
            font-weight: 300!important;
            padding: 20px;
        .signIn_nav{
                    text-decoration: none;
                    color: #5CB85C;
                }
        }
        
    }
    .input_mail{
        width: 100%;
        height: 50px;
        padding-left: 30px;
        font-size: 140%;
        color: gray;
        font-weight: 300!important;
        
    }
    .input_pass{
        width: 100%;
        height: 50px;
        margin-top: 15px;
        padding-left: 30px;
        font-size: 140%;
        color: gray;
        font-weight: 300!important;
    }
    .signIn_but{
        margin-top: 15px;
        margin-left: 447px;
        padding: 10px 20px 10px 20px;
    }

}